body {
    background-image: url("../images/scale.jpg");
    background-color: #cccccc;
    background-size: 5%;
    fill-opacity: 0.5;  
    background-attachment: fixed;
   }

.contenedor {
    padding: 0% 6%;        
}

hr { 
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0.1% 0;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    background-color: lightgrey;
}

/*NAV*/

#nav {
    padding: 0 6%;
    margin: 0 -1.3%;
    background-color: white;    
}


.bar_nav {
    background-color: white;
    padding: 0;
    margin: 0 -1.3%;     
}

.img_logo {
    width: 160px;
    margin: 0 10%;
}


.nav-link {
    font-size: 1.2rem;
    color: grey;
    font-weight: 500;
}
  

/*TITLE*/

#title {
    padding: 0 6%;
    margin: 0 -1.3%;
    background-color: white;    
}

.img_title {
    background-image: url("../images/img_title.png");
    background-color: #cccccc;
    width: 100%;        
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 22% 0;
   }


/*QUIENES SOMOS*/

#quienes_somos {
    padding: 5% 6%;
    margin: 0 -1.3%;  
    text-align: center;
    background-color: white;   
}

.qs_titulo {
    padding: 3% 0;          
    margin-bottom: 10%;
}

.qs_p {
    font-size: 1.1rem;
    font-weight: 500;
    text-align: justify;
}


/* SERVICIOS */

#servicios {    
    text-align: center;  
    margin: 0 -1.3%;  
    padding: 5% 6% 3%;     
    color:  black; 
    background-color: white;  
    
}

.serv {    
    padding-bottom: 2%;
    margin-bottom: 2%;    
}

.serv-card {
    margin: 5% 0;
}

.servicios {    
    background-color: #f2ece3;  
    min-height: 400px;  
}

#servicios h3 {
    padding: 10% 0 5%;
}

#servicios p {
    margin-bottom: 5%;
}

.serv-text {
    margin-top: 45px;
}

/* ABOGADOS */

#abogados {
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), 
                url(../images/img_bg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;  
    text-align: center; 
    padding: 5% 6%; 
    margin: 0 -1.3%; 
}

.bq-abogados {
    margin: auto;
    font-size: 1.1rem;    
}

.bq-abogado {
    font-weight: 500;
    margin-bottom: 6%;
    text-align: justify;
}

.abogado-urrutia {
    margin-bottom: 5%;
}

.abogado-roa {
    margin-top: 5%;
}

/* CONTACTO */

#contacto {
    background-color: darkgrey;
    text-align: center; 
    padding: 5% 6% 1%;
    margin: 0 -1.3%; 
}

.contacto {
    margin: 0 0 10%;
}

.a-contacto {    
    color: darkblue;
}

/*FOOTER*/

.img-logo {
    width: 100PX;
}


/* MEDIA QUERY */


